{% extends 'base.html.twig' %}

{% block title %}Player index{% endblock %}

{% block body %}
<div class="hero overlay background-match">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5 mx-auto text-center">
				<h1 class="text-white">Joueurs</h1>
				<p>Découvrez les joueurs !
				</p>
			</div>
		</div>
	</div>
</div>

<div class="site-section bg-dark">
	<div class="container">
		<table class="table custom-table">
			<thead>
				<tr class="text-center">
					<th>ID</th>
					<th>PSEUDO</th>
					<th>REJOINT LE</th>
				</tr>
			</thead>
			<tbody class="text-center">

				{% for player in players %}
					<tr>
						<td>{{ player.id }}</td>
						<td>
							<strong class="text-white">
								<a href="{{path('app_player_show', {id: player.id})}}">{{ player.pseudo }}</a>
							</strong>
						</td>
						<td>{{ player.createdAt ? player.createdAt|date('d/m/Y H:i:s') : '' }}</td>
					</tr>
				{% else %}
					<tr>
						<td>Aucun enregistrement n'a été trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!-- .site-section -->

{% endblock %}
