{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    
    <div class="site-section">
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">

            {{ include('team/_form.html.twig') }}

            <h1>Create new Team</h1>
            <a href="{{ path('app_team_index') }}">back to list</a>
        </div>
      </div>
    </div>
{% endblock %}
