{% extends 'base.html.twig' %}

{% block title %}BabyBoard | Une question ? Contactez-nous !{% endblock %}

{% block body %}
<div class="hero overlay background-contact">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5 mx-auto text-center">
				<h1 class="text-white">Contact</h1>
				<p>Une question ? Contactez-nous !
				</p>
			</div>
		</div>
	</div>
</div>
  <div class="site-section">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Sujet">
            </div>
            <div class="form-group">
              <textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Écrivez quelque chose..."></textarea>
            </div>
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5" value="Envoyer un message">
            </div>
          </form>
        </div>
        <div class="col-lg-4 ml-auto">
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong class="text-white d-block">Adresse</strong>
              1 avenue Marcel Proust <br> CS 80062 28008 Chartres Cedex
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">Email</strong>
              <a href="#">contact@campus28.fr</a>
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">Tél</strong>
              <a href="#">02 37 84 28 28</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
