{{ form_start(form) }}
    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}

    <div class="text-center mt-2">
        <button class="btn btn-sm btn-primary">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
