{% extends 'base.html.twig' %}

{% block title %}New TeamComposition{% endblock %}

{% block body %}
    <h1>Create new TeamComposition</h1>

    {{ include('team_composition/_form.html.twig') }}

    <a href="{{ path('app_team_composition_index') }}">back to list</a>
{% endblock %}
