{% extends 'base_dashboard.html.twig' %}

{% block title %}Dashboard | Création d'un match{% endblock %}

{% block body %}
    <div class="site-section">
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-7">
            <a href="{{ path('app_dashboard_game_index') }}">Retour à la liste</a>
            <h1>Créer un match</h1>
              {{ include('dashboard/game/_form_add.html.twig') }}
            </div>
        </div>
      </div>
    </div>
    
{% endblock %}
